@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #5cec9c;
  --primary-dark: #213c2c;
  --gray-bg: #191c1b;
  --section-color: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-gray-bg: var(--gray-bg);
  --color-section-color: var(--section-color);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
  transition: background 0.3s ease;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(92, 236, 156, 0.92);
  transition: all 0.3s ease-in-out;
}

/* Handle when active/clicked */
::-webkit-scrollbar-thumb:active {
  background: rgba(92, 236, 156, 0.92);
  transition: all 0.3s ease-in-out;
}

/* Corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: var(--background);
}

.grid-sec-1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.grid-sec-2 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
}

.grid-sec-3 {
  grid-row: span 3 / span 3;
  grid-row-start: 3;
}

.grid-sec-4 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 4;
}

.grid-sec-5 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
}

.grid-sec-6 {
  grid-row: span 3 / span 3;
  grid-row-start: 6;
}

.grid-sec-7 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 7;
}

.grid-sec-8 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 8;
}
